DATABASE_URL=postgresql://neondb_owner:npg_8qnZ3RKAGXdS@ep-damp-dawn-atzjv0jj-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Alternatively, you can use the individual components:
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=games
DB_USERNAME=postgres
DB_PASSWORD=7009

DB_HOST=ep-damp-dawn-atzjv0jj-pooler.c-9.us-east-1.aws.neon.tech
DB_DATABASE=neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_8qnZ3RKAGXdS
DB_PORT=5432


username admin and password Jem@9878